<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ljb.component.user">

    <application
        android:name="com.ljb.component.comm.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/user_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity
            android:name=".UserMainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.ljb.component.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.ljb.component.user.startup.UserInitializer"
                android:value="@string/androidx_startup" />
        </provider>
    </application>

</manifest>