<?xml version="1.0" encoding="UTF-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.ljb.component.user">
    
  <application android:allowBackup="true" android:supportsRtl="true" android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        
    <activity android:name=".UserMainActivity" android:screenOrientation="portrait"/>
        
    <provider android:name="androidx.startup.InitializationProvider" android:authorities="com.ljb.component.androidx-startup" android:exported="false" tools:node="merge">
            
      <meta-data android:name="com.ljb.component.user.startup.UserInitializer" android:value="@string/androidx_startup"/>
          
    </provider>
      
  </application>
  
</manifest>
